[user]
	email = o@solovyov.net
	name = Oleksandr Solovyov
[advice]
	detachedHead = false
[alias]
    co = checkout
    st = status -sb
    ci = commit -a
    cm = commit -a -m
    com = commit -m
    amend = commit -a --amend --no-edit
    df = diff
    dfc = diff --cached
    dfa = diff HEAD
    p = log -p --ext-diff
    pd = !"f() { GIT_EXTERNAL_DIFF=difft git p "$@" }; f"
    pr = !"f() { git fetch origin pull/${1}/head:pr${1}; }; f"
    xp = log -p --ext-diff master..HEAD
    pl = log -p --ext-diff HEAD@{1}..HEAD
    sl = log --format='%C(auto)%h%Creset - %Cgreen(%ci) %C(bold blue)<%an>%Creset %s %C(auto)%d'
#    sl = log --format='%Cred%h%Creset -%C(yellow)%d%Creset %Cgreen(%ci) %C(bold blue)<%an>%Creset %s'
    ss = log --format='%Cred%h%Creset - %Cgreen(%ci) %C(bold blue)<%an>%Creset %s'
    s = log --format='%Cred%h%Creset'
    ll = !git sl HEAD@{1}..HEAD
    g = log --graph --format='%Cred%h%Creset -%C(yellow)%d%Creset %Cgreen(%ci) %C(bold blue)<%an>%Creset %s'
    l = log --graph --format='%Cred%h%Creset -%C(yellow)%d%Creset %Cgreen(%ci) %C(bold blue)<%an>%Creset\n  %s\n  %N'
    w = whatchanged --graph --format='%Cred%h%Creset -%C(yellow)%d%Creset %Cgreen(%ci) %C(bold blue)<%an>%Creset\n  %s\n  %N'
    wl = !git w HEAD@{1}..HEAD
    serve = daemon --reuseaddr --verbose  --base-path=. --export-all
    b = !"git sl --no-walk --date-order $(git rev-list --branches --no-walk)"
    ba = !"git sl --no-walk --date-order $(git rev-list --branches --no-walk --remotes)"
    cb = checkout -b
    cib = "!f() { git checkout -b $1; shift; git commit -a "$@"; }; f"
    cmb = "!f() { git checkout -b $1; shift git commit -a -m "$@"; }; f"
    # track localbranch remote/remotebranch
    track = branch --set-upstream-to
    todo = grep --heading --break -e ' FIXME *' -e ' TODO *'

    tagpush = !git push origin $(git symbolic-ref HEAD) --tags
    mas = fetch origin master:master
    comerge = !"f() { target=$(git symbolic-ref HEAD); git co ${1:-master}; git merge $target; }; f"
    pr = !"f() { git fetch origin pull/${1}/head:pr${1}; }; f"

    pushurl = config remote.origin.pushurl
    addgh = !git remote add gh github.com:piranha/$(basename $(git rev-parse --show-toplevel)).git
	please = push --force-with-lease
    hard = reset --hard HEAD
    uncommit = reset --soft HEAD^
    resetremote = !git reset --hard $(git rev-parse --abbrev-ref --symbolic-full-name @{u})

[color]
    ui = auto
[core]
	excludesfile = /Users/piranha/.gitignore
	quotepath = false
[branch]
    autosetupmerge = true
[diff]
	renames = true
	noprefix = true
    conflictstyle = zdiff3
    tool = difftastic
[pager]
    difftool = true
[push]
	default = current
	autoSetupRemote = true
[pull]
	ff = only
[daemon]
    receivepack = true
[init]
	defaultBranch = main
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[difftool]
    prompt = false
[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"
