[user]
    email = alexander@solovyov.net
    name = Alexander Solovyov
[alias]
    co = checkout
    st = status -sb
    ci = commit -a
    cm = commit -a -m
    com = commit -m
    df = diff
    dfc = diff --cached
    dfa = diff HEAD
    p = log -p
    pl = log -p HEAD@{1}..HEAD
    sl = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %Cgreen(%ci) %C(bold blue)<%an>%Creset %s' --abbrev-commit
    l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %Cgreen(%ci) %C(bold blue)<%an>%Creset\n  %s\n' --abbrev-commit
    ll = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %Cgreen(%ci) %C(bold blue)<%an>%Creset\n  %s\n' --abbrev-commit HEAD@{1}..HEAD
    w = whatchanged --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %Cgreen(%ci) %C(bold blue)<%an>%Creset\n  %s\n' --abbrev-commit
    wl = whatchanged --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %Cgreen(%ci) %C(bold blue)<%an>%Creset\n  %s\n' --abbrev-commit HEAD@{1}..HEAD
    serve = daemon --reuseaddr --verbose  --base-path=. --export-all
    b = branch
    # track localbranch remote/remotebranch
    track = branch --set-upstream
    hard = reset --hard HEAD
    sub = submodule
    map = submodule foreach
    mag = submodule foreach git

    req = "!f() { git push origin $(git symbolic-ref HEAD) && hub pull-request -h socialabs:$(git symbolic-ref HEAD) \"${1:-$(git log --pretty=format:'%s' -1)}\"; }; f"
    getm = !git fetch && git branch -f master origin/master
    comerge = "!f() { target=$(git symbolic-ref HEAD); git co ${1:-master}; git merge $target; }; f"

[color]
    ui = auto
[core]
	excludesfile = /Users/piranha/.gitignore
	quotepath = false
[branch]
    autosetupmerge = true
